.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

rect {
    transition: all 0.3s;
}
.dataBar rect:hover{
    fill: red;
}

.countryBar rect:hover{
    fill:green;
}

.lineChart .line {
    stroke-width:5;
    stroke-linecap:round;
    stroke-linejoin:round;
}

.countryBar svg {
    background-color:rgb(247,247,249);
    border-color: black;
}

#navMap {
    margin-left: 70%;
    margin-top: 2%;
    width: 30%;
    height: 400px;
    float:left;
    position: fixed;

}

#navMap svg {
    background-color:rgb(247,247,249);
}

#candleChart{
    clear:both;
}